<a href="https://colab.research.google.com/github/matttmbn/DATA4AUDITORS_IAEMETZ/blob/main/IAE_METZ_TP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Introductin à Python

print("Hello World")

Hello World

# Simple Examples
Nous allons voir les bases de Python ensemble

In [1]:
# On va définir des variables
prenom="Matt" # est du texte, c'est donc un STRING
salaire_de_stage=1711 # INTEGER donc c'est un entier naturel
salaire_net=1680.95 # FLOAT ce sont les chiffres à virgule

print(f"Je m'appelle {prenom}  et je gagnerai {salaire_de_stage}")

Je m'appelle Matt et je gagnerai 1711

In [ ]:
# ARITHMETIC +++
debit1=157000
debit2=1711
credit=157000
debit1+debit2

158711

In [ ]:
debit1,debit2

(157000, 1711)

In [ ]:
a=debit1
b=debit2
print(f"SUM:{a+b}, DELTA:{a-b}, PRODUIT:{a*b},DIVISION:{a/b}")

SUM:158711, DELTA:155289, PRODUIT:268627000,DIVISION:91.75920514319111

In [ ]:
print(f"Division Integer:{a//b}")

Division Integer:91

In [ ]:
# LIST
banks=["BDL","BGL","BNP","BIL"]
banks[2]

'BNP'

In [ ]:
# DICTIONNAIRE
# Non-ordonné et PAIRES CLÉS ()
valorisation={"nom":"NIKE","actif":37,"passif":34}
print(f"La valorisation de {valorisation['nom']} est avec un actif")

La valorisation de NIKE est avec un actif

#Exemples pour les auditeurs

##Etude de cas pour l'audit de ma société

In [13]:
# Cellule des variables
revenus=100000
depenses=75000
taux_imposition_francais=0.25
taux_imposition_luxembourgeois=0.17
taux_imposition_irelande=0.125

In [6]:
# Cellule des calculs
benefice=revenus-depenses
impot_en_france=benefice*taux_imposition_francais
impot_au_luxembourg=benefice*taux_imposition_luxembourgeois
impot_en_irelande=benefice*taux_imposition_irelande
benefice_net_fr=benefice-impot_en_france

In [8]:
# Cellule des checks/prints : calcul en direct
print("Impôt à payer en France", taux_imposition_francais*benefice,"€")

Impôt à payer en France 6750.0 €

In [10]:
# Cellule des checks/prints : calcul préparé en amont
print("Impôt à payer en France", impot_en_france,"€")

Impôt à payer en France 6750.0 €

In [11]:
#Comparaison avec l'Irlande et le Luxembourg
print("On compare au Luxembourg",taux_imposition_luxembourgeois*benefice,"€","vs en Irelande", taux_imposition_irelande*benefice,"€")

On compare au Luxembourg 4250.0 € vs en Irelande 3125.0 €

In [12]:
impot_en_france-impot_au_luxembourg

2500.0

#Structures de contrôle

In [14]:
# CONDITIONS (if,elif,else)

if benefice_net_fr>0:
  print("L'entreprise réalise un bénéfice net. Un benef de",benefice_net_fr,"€")
elif benefice_net_fr==0:
  print("L'entreprise est à l'équilibre")
else:
  print("L'entreprise réalise une perte nette")

L'entreprise réalise un bénéfice net. Un benef de 18250.0 €

#IMPORTATION DES BIBLIOTHEQUES

Les packages se différencient en 2 grandes catégories.
1) Ceux "outils" : contenant des fonctions
2) Ceux "de données" : contenant des données / valeurs

In [15]:
# Le package d'outils le plus répandu en python est PANDAS (ou POLARS)
import pandas as pd

In [16]:
# Le package "données" le plus répandu en Python x Finance est...YAHOO!Finance
import yfinance as yf

In [17]:
# BLOCK : IMPORTATION DES PACKAGES
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
# dans les packages "outils" vous pouvez SOUS SELECTIONNER LE CHAPITRE

In [18]:
# BLOCK : VARIABLES
# Pour une comparaison d'indices selon les pays
france_symbol='EWQ' #iShares MSCI France ETF
ireland_symbol='EWK' #iShares MSCI Ireland ETF
luxembourg_symbol='SPY' #S&P 500 son ETF

In [21]:
# BLOCK : TIME FRAME
start_date='2010-01-01'
end_date='2025-01-01'

In [22]:
# Téléchargement des données historiques de YFINANCE pour chaque pays
france_data=yf.download(france_symbol,start=start_date,end=end_date)
irelande_data=yf.download(ireland_symbol,start=start_date,end=end_date)
lux_data=yf.download(luxembourg_symbol,start=start_date,end=end_date)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [23]:
print(france_data)

Price           Close       High        Low       Open  Volume
Ticker            EWQ        EWQ        EWQ        EWQ     EWQ
Date
2010-01-04  17.787548  17.827415  17.641366  17.641366   97400
2010-01-05  17.741041  17.867287  17.674595  17.847354  164100
2010-01-06  17.834064  17.840709  17.687884  17.734396  117300
2010-01-07  17.754326  17.787550  17.634724  17.648013   87500
2010-01-08  18.000175  18.006820  17.760970  17.787549  155400
...               ...        ...        ...        ...     ...
2024-12-24  35.970001  36.009998  35.619999  35.730000  187100
2024-12-26  36.119999  36.200001  35.939999  35.959999  216600
2024-12-27  36.060001  36.139999  35.900002  35.959999  758900
2024-12-30  35.810001  35.910000  35.650002  35.900002  361400
2024-12-31  35.880001  36.169998  35.799999  36.169998  401800

[3774 rows x 5 columns]

In [24]:
# BLOCK : ANALYSE DES DATAFRAMES (EDA)
# Il y a des jours fériés donc il y a des valeurs nulles
france_data.isnull().sum()
# DATA_FRAME . FUNCTION_NAME()

Price   Ticker
Close   EWQ       0
High    EWQ       0
Low     EWQ       0
Open    EWQ       0
Volume  EWQ       0
dtype: int64

In [25]:
# Calcul des rendements quotidiens pour chacun des fonds
lux_return=lux_data.pct_change().dropna()
irelande_return=irelande_data.pct_change().dropna()
france_return=france_data.pct_change().dropna()

In [27]:
# Calcul de la rentabilité cumulée des fonds sur une période
lux_cumulative_return=(1+lux_return).cumprod()-1
irelande_cumulative_return=(1+irelande_return).cumprod()-1
france_cumulative_return=(1+france_return).cumprod()-1

In [28]:
# BLOCK : GRAPHIQUES
# Présentation à des investisseurs des rendements via un dataframe
print(lux_data.head())
print(france_data.head())
print(irelande_data.head())

Price           Close       High        Low       Open     Volume
Ticker            SPY        SPY        SPY        SPY        SPY
Date
2010-01-04  86.026428  86.071971  84.644905  85.297713  118944600
2010-01-05  86.254189  86.292145  85.662108  85.973333  111579900
2010-01-06  86.314911  86.527452  86.102370  86.170684  116074400
2010-01-07  86.679268  86.785539  85.912596  86.155501  131091100
2010-01-08  86.967705  87.005661  86.276946  86.451531  126402800
Price           Close       High        Low       Open  Volume
Ticker            EWQ        EWQ        EWQ        EWQ     EWQ
Date
2010-01-04  17.787548  17.827415  17.641366  17.641366   97400
2010-01-05  17.741041  17.867287  17.674595  17.847354  164100
2010-01-06  17.834064  17.840709  17.687884  17.734396  117300
2010-01-07  17.754326  17.787550  17.634724  17.648013   87500
2010-01-08  18.000175  18.006820  17.760970  17.787549  155400
Price          Close      High       Low      Open  Volume
Ticker           EWK       EWK       EWK       EWK     EWK
Date
2010-01-04  8.644100  8.729103  8.572175  8.572175  329400
2010-01-05  8.748717  8.781411  8.683331  8.729102  451600
2010-01-06  8.801027  8.801027  8.689870  8.689870   71800
2010-01-07  8.742178  8.761794  8.696408  8.742178   46000
2010-01-08  8.781409  8.801025  8.696407  8.696407  391700